<div class="signUpBlock">
    <div *ngIf="accountSuccess === 1"  class = "alert alert-success" role="alert">
        {{message}}
    </div>
    <div *ngIf="accountSuccess === -1"  class = "alert alert-danger" role="alert">
        {{message}}
    </div>
    <div class="card">
        <div class="card-header">
            <h3> Sign Up</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)='onSubmit(signUpForm.value)' #signUpForm="ngForm">
                <div class="form-group row">
                    <label for="firstName" class="col-lg-3 col-form-label">First Name:</label>
                    <div class="col-lg-9">
                        <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control" required
                            #firstName="ngModel">
                        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-danger">
                            <div *ngIf="firstName.errors.required">
                                First Name is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lastName" class="col-lg-3 col-form-label">Last Name:</label>
                    <div class="col-lg-9">
                        <input type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control" required
                            #lastName="ngModel">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-lg-3 col-form-label">Email ID:</label>
                    <div class="col-lg-9">
                        <input type="email" name="email" [(ngModel)]="user.email" class="form-control" required
                            #emailid="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">
                        <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched)" class="text-danger">
                            <div *ngIf="emailid.errors.required">
                                Email id is required.
                            </div>
                            <div *ngIf="emailid.errors.pattern">
                                Enter a valid email address
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="mob" class="col-lg-3 col-form-label">Mobile number:</label>
                    <div class="col-lg-9">
                        <input type="string" name="mobileNo" [(ngModel)]="user.mobileNo" class="form-control" required
                            #mobileNo="ngModel" pattern="[1-9][0-9]{9}">
                        <div *ngIf="mobileNo.invalid && (mobileNo.dirty || mobileNo.touched)" class="text-danger">
                            <div *ngIf="mobileNo.errors.required">
                                Mobile number is required.
                            </div>
                            <div *ngIf="mobileNo.errors.pattern">
                                Mobile number must have 10 digits only and cannot start with 0
                            </div>

                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="password" class="col-lg-3 col-form-label">Password:</label>
                    <div class="col-lg-9"><input type="password" name="password" [(ngModel)]="user.password"
                            class="form-control" required #passwd="ngModel"
                            pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{5,}">
                        <div *ngIf="passwd.invalid && (passwd.dirty || passwd.touched)" class="text-danger">
                            <div *ngIf="passwd.errors.required">
                                Password is required.
                            </div>
                            <div *ngIf="passwd.errors.pattern">
                                Password should have minimum 5 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number.
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="confirmPassword" class="col-lg-3 col-form-label">Confirm Password:</label>
                    <div class="col-lg-9"><input type="password" name="confirmPassword"
                            [(ngModel)]="inputConfirmPassword" class="form-control" required #confirmPassword="ngModel">
                        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">
                            <div *ngIf="passwd.errors.required">
                                Confirm Password is required.
                            </div>
                            <div *ngIf="!(inputConfirmPassword === user.password)">
                                Password not matching
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"><input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign Up"
                            [disabled]="!signUpForm.valid"></div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
    </div>

</div>